<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="FastCGI" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\php-7.4.6-Win32-vc15-x64\php-cgi.exe" resourceType="File" />
        </handlers>
        <rewrite>
            <rules>
                <rule name="Regla 1 importada">
                    <match url="^([-a-zA-Z0-9]+)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?ruta={R:1}" appendQueryString="false" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
